<div class="col mb-4">
  <div class="card h-100 p-3">
    <h5 class="mb-2">{{ service.title }}</h5>
    <p>{{ service.description }}</p>
    <a href="{{ service.url | relative_url }}" class="btn btn-sm btn-outline-primary mt-auto">Ver más</a>
  </div>
</div>