<div class="col mb-4">
  <div class="card h-100 p-3 d-flex flex-row align-items-center">
    <div class="flex-grow-1">
      <h5 class="mb-1">{{ service.title }}</h5>
      <p>{{ service.description }}</p>
      <a href="{{ service.url | relative_url }}" class="btn btn-sm btn-outline-primary">Ver más</a>
    </div>
  </div>
</div>
